*{
    background-color: rgb(145, 145, 145);
}

img{
    height: 110px;
    width: 100px;
}

input{
    text-align: center;
    font-weight: bold;
}

.contains-not-buttons{
    margin-top: 190px;
}

.container-card {
    position: relative; 
    width: 500px;
    margin-left: 500px;
}

.character-container{
    margin-top: 15px;
    width: 450px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    height: 250px;
}

.img-container {
    margin-top: 15px;
    width: 450px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}


.img-item {
    flex-basis: calc(33.33% - 10px);
    margin: 5px;
    border: 1px solid black;
    height: 100px;
}


.contains-all {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  
.character-name {
    margin-top: 50px;
}

.character-name input {
    width: 300px;
}

.atk, .def {
    display: flex;
    align-items: center;
}

.atk p {
    margin: 0;
    line-height: 12px;
}

.def p{
    margin: 0;
    line-height: 12px;
}

.statImg {
    height: 25px;
    width: 25px;
    margin-right: 10px;
}

.progress {
    flex: 1;
    height: 12px;
    margin-right: 10px;
    overflow: hidden;
}

.arrow-text{
    margin-left: 18.5%;
    align-items: center;
    text-align: center;
}

.arrow-text p {
    font-weight: bold;
}

.character-text-description{
    text-align: center;
}

.character-image{
    margin-top: 10px; 
    display: flex;
    justify-content: center;
}

.character-image img{
    margin-top: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
    height: 200px;
    border: 2px solid black;
}
  

