#leave{
  position: relative !important;
  right: 0 !important;
  width: 50px;
  margin: auto;
  cursor: pointer;
}


#overlay>* {
  * {
    justify-content: center;
    text-align: center;
    border: none;
    font-size: 30px;
  }

  html {
    height: 100%;
  }

  textarea {
    text-align: left !important;
    font-size: 15px !important;
    border: 2px solid black !important;
    resize: none;
    width: 350px;
    height: 600px;
    border-radius: 10px;
  }

  #orderIdButtonJson {
    font-size: 20px !important;
    margin: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
  }

  #orderIdButtonJson:hover {
    background-color: #737980;
  }

  /*Background color*/
  #grad1 {
    background-color: #9C27B0;
    background-image: linear-gradient(120deg, #405dff, #81D4FA);
  }

  /*form styles*/
  #msform {
    text-align: center;
    position: relative;
    margin-top: 20px;
  }

  #msform fieldset .form-card {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 20px 40px 30px 40px;
    box-sizing: border-box;
    width: 94%;
    margin: 0 3% 20px 3%;

    /*stacking fieldsets above each other*/
    position: relative;
  }

  #msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;

    /*stacking fieldsets above each other*/
    position: relative;
  }

  /*Hide all except first fieldset*/
  #msform fieldset:not(:first-of-type) {
    display: none;
  }

  #msform fieldset .form-card {
    text-align: left;
    color: #9E9E9E;
  }

  #msform input,
  #msform textarea {
    padding: 0px 8px 4px 8px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 16px;
    letter-spacing: 1px;
  }

  #msform input:focus,
  #msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none;
    font-weight: bold;
    border-bottom: 2px solid skyblue;
    outline-width: 0;
  }

  /*Blue Buttons*/
  #msform .action-button {
    width: 100px;
    background: skyblue;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
  }

  #msform .action-button:hover,
  #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px skyblue;
  }

  /*Previous Buttons*/
  #msform .action-button-previous {
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
  }

  #msform .action-button-previous:hover,
  #msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #616161;
  }

  /*Dropdown List Exp Date*/
  select.list-dt {
    border: none;
    outline: 0;
    border-bottom: 1px solid #ccc;
    padding: 2px 5px 3px 5px;
    margin: 2px;
  }

  select.list-dt:focus {
    border-bottom: 2px solid skyblue;
  }

  /*The background card*/
  .card {
    z-index: 0;
    border: none;
    border-radius: 0.5rem;
    position: relative;
  }

  /*FieldSet headings*/
  .fs-title {
    font-size: 25px;
    color: #2C3E50;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
    text-align: center;
  }

  /*progressbar*/
  #progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey;
  }

  #progressbar .active {
    color: #000000;
  }

  #progressbar li {
    list-style-type: none;
    font-size: 12px;
    width: 25%;
    float: left;
    position: relative;
  }

  /*Icons in the ProgressBar*/
  #progressbar #account:before {
    font-family: FontAwesome;
    content: "\f023";
  }

  #progressbar #personal:before {
    font-family: FontAwesome;
    content: "\f007";
  }

  #progressbar #payment:before {
    font-family: FontAwesome;
    content: "\f09d";
  }

  #progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f00c";
  }

  /*ProgressBar before any progress*/
  #progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 18px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px;
  }

  /*ProgressBar connectors*/
  #progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1;
  }

  /*Color number of the step and the connector before it*/
  #progressbar li.active:before,
  #progressbar li.active:after {
    background: skyblue;
  }

  input {
    border: 1px solid black;
  }

  input[type=number] {
    width: 70px !important;
  }

  input#loadId {
    width: 580px !important;
  }

  /*Imaged Radio Buttons*/
  .radio-group {
    position: relative;
    margin-bottom: 25px;
  }

  .radio {
    display: inline-block;
    width: 204;
    height: 104;
    border-radius: 0;
    background: lightblue;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    cursor: pointer;
    margin: 8px 2px;
  }

  .radio:hover {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
  }

  .radio.selected {
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
  }

  /*Fit image in bootstrap div*/
  .fit-image {
    width: 100%;
    object-fit: cover;
  }
}

#orderButton {
  cursor: pointer;
}

#loadButton {
  cursor: pointer;
}

#loadButton:hover,
#unload:hover {
  background-color: #a5abb1;
}


#unload {
  cursor: pointer;
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.container {
  width: 800px;
  height: 400px;
  position: relative;
  background: rgb(65, 140, 202);
  border: 2px solid black;
}

#animate {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 100%;
  position: absolute;
  border: 1px solid black;
  z-index: 5;
  transform-origin: center;


  &::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 7px 5px 0;
    border-color: transparent black transparent transparent;
    transform: translateY(-50%);
    top: 50%;
    left: calc(15%);
  }

  &::after {
    display: none;
  }

  &.no-after::after {
    display: block;
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3px 5px 3px 0;
    border-color: white;
    transform: translateY(-50%);
    top: 49%;
    left: calc(55%);
  }
}





.dots {
  text-align: center;
  color: white;
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 100%;
  background-color: rgb(0, 0, 0);
  z-index: 0;
  border: 0.25px solid white;
  cursor: pointer;
}

.biggerDots {
  border: 0.25px solid white;
  border-style: dashed;
  text-align: center;
  color: white;
  width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 100%;
  background-color: transparent;
  z-index: 4;
}

canvas {
  z-index: 2;
  position: absolute;
  border: 2px solid red;
  left: -2px;
  top: -2px;
}