#input{
    margin: auto;
    width: 50%;
    border: 3px solid black;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#newTable{
    margin: auto;
    width: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;

  }
  