app-selezione-personaggio{
    margin-top: 100px;
}

.text{
    display: flex; 
    justify-content: center !important;
}

.sceltaPersonaggi{
    display: flex;
    align-items: center;
    background-color: gray;
    padding-left: 26px;
}


